.footer-bg {
    background: #000048;
    color: #4021da;
    height: 300px;
    

  }
  
  .footer-redes {
    display: flex;
    gap: 10px;
 
  }

  .footer-container {
    display: flex;
  padding-top: 130px;
  align-items: center;
  justify-content: center;
  }
  
  
  
  .footer-texto{
    font-size: 1.5rem;
    line-height: 1.5;
    color: #ffff;
    margin-right: 60px;
  }

  @media (max-width: 800px) {
    .footer-bg {
        height: 200px;
        padding-bottom: 30px;
    }
    .footer-texto {
      font-size: 1rem;
      padding-bottom: 40px;
      text-align: center;
      margin-right: 0;
    }
    .footer-container{
      flex-wrap: wrap;
      padding-top: 60px;
      grid-template-columns: 1fr;
      
    }

   

  
    
  }
