.footer-bg {
    background: #000048;
    color: #4021da;
    height: 300px;
  }
  
  .footer {
    display: flex;
    padding-top: 130px;
    align-items: center;
    justify-content: center;
  }
  
  .footer-redes {
    display: flex;
    gap: 30px;
    line-height: 1.1;
    margin-bottom: 30px;
  }
  
  .footer-container {
    max-width: 1200px;
    padding: 120px 20px 60px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    align-items: center;
    margin-left: 150px;
  }
  
  .footer-texto{
    font-size: 1.5rem;
    line-height: 1.33;
  }

  @media (max-width: 800px) {
    .footer-bg {
        height: 200px;
        padding-bottom: 30px;
    }
    .footer-descricao {
      font-size: 1rem;
      padding-bottom: 40px;
      text-align: center;
      margin-right: 0;
    }
    .footer {
      flex-wrap: wrap;
      padding-top: 60px;
    }
  }